@{
    ViewData["Title"] = "تم رفض طلبك";
}
<br />

<header>
    <h2 class="text-danger"> @ViewData["Title"]</h2>
    <p class="text-danger">
        ليس لديك الصلاحية لدخول هذة الصفحة .
    .

        <br />
</p>
</header>
