@{
    ViewData["Title"] = "رابط التفعيل";
    Layout = "_LoginLayout";



}



<div class="Check__mail">
    <img src="~/assets/img/email.png" class="img-responsive center-block  check__mail__img">
    <p>
        يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور.
    </p>
    <a href=""> عودة الي الرئيسية</a>
</div>










