@{
    ViewData["Title"] = "تأكيد بريدك الإلكتروني";
    Layout = "../Shared/_LoginLayout.cshtml";

}

    <div class="img-1">
        <img src="/~/assets/images/ddd.png" class="img-responsive center-block ">
        <p>شكرا لتأكيد بريدك الإلكتروني
.</p>
        <p>

            يمكنك الان تسجيل الدخول
        </p>
        <a asp-action="Login" class="btn_1 rounded full-width add_top_60">دخول</a>

    </div>
    <div class="copy">© 2018 دلتا سوفت</div>









