@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "نسيت كلمة المرور";
    Layout = "../Shared/_LoginLayout.cshtml";

}

@*<form asp-route-returnurl="ForgotPassword" method="post">

        <div class="group">

            <div asp-validation-summary="All" class="m-b-25 text-danger"></div>

        </div>
        <div class="group">
            <input type="text" asp-for="Email">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>البريد الالكتروني</label>
        </div>
        <button type="submit" class="btn_1 rounded full-width add_top_60">تأكيد</button>


    </form>*@
<div class="Confirm_password">
    <h3 class="signin-form__body__title">   نسيت كلمة المرور</h3>
    <p class="signin-form__body__sub">اكتب بريدك الالكترونى  حتي يتم تغيير كلمة المرور والحفاظ علي امن حسابك الشخصي</p>

    <form asp-route-returnurl="ForgotPassword" method="post">
        <div asp-validation-summary="All" class="m-b-25 text-danger"></div>
        <div class="signin-form__form__inputs">
            <input class="input-item" type="email" asp-for="Email" placeholder="البريد الالكتروني">

        </div>
        <button type="submit" class="btn-green list-link__btn">تاكيد   </button>
    </form>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
