@{
    ViewData["Title"] = " تعيين كلمة المرور";
    Layout = "../Shared/_LoginLayout.cshtml";

}

@*<div class="img-1">
    <img src="~/assets/images/email.png" class="img-responsive center-block ">
    <p>يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور.</p>
</div>*@


<div class="Check__mail">
    <img src="~/assets/img/email.png" class="img-responsive center-block  check__mail__img">
    <p>
        يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور.
    </p>
    <a href=""> عودة الي الرئيسية</a>
</div>