@{
    ViewData["Title"] = "إعادة تعيين كلمة المرور";
    Layout = "../Shared/_LoginLayout.cshtml";

}





@*<div class="img-1">
    <img src="/~/assets/images/email-2.png" class="img-responsive center-block " style="width: 136px">
    <p>تم إعادة تعيين كلمة المرور الخاصة بك. رجاء</p>
    <a asp-action="Login"  class="btn_1 rounded full-width add_top_60">دخول</a>

</div>*@


<div class="Check__mail">
    <img src="~/assets/img/email.png" class="img-responsive center-block  check__mail__img">
    <p>تم إعادة تعيين كلمة المرور الخاصة بك. رجاء</p>
    <a asp-action="Login" class="btn_1 rounded full-width add_top_60">دخول</a>
</div>