@{
    Layout = "_ProfileLayout";
    ViewData["title"] = "المفضلة";
    ViewData["Active"] = "wish_List";
}

<div class="content">
    <!-- Clasess List -->
    <div class="classes-list" id="searchResult">
       @await Component.InvokeAsync("WishList", new
    {
        page = ViewBag.page,

    })

    </div>
    <!-- Clasess List -->


</div>
