@{
    ViewData["Title"] = "Home Page";
    Layout = "_ProfileLayout";
}



<!--Item-->
<div class="item-meeting">
    <!--Item-->
    <div class="avatar-doctor">
        <div class="avatar-image">
            <img src="~/assets/images/s-teacher-imgs/img-01.jpg" alt="Student" class="img-responsive">
            <h4>
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <a href="meet-doctors.html" title="See Profile">محمد احمد</a>
            </h4>
            <p>طالب بالصف الثالث الثانوي</p>
        </div>
    </div>

    <div class="data-meeting">
        <ul class="list-unstyled info-meet">
            <li><p><i class="icon-google-plus"></i> البريد الالكتروني: <span>Mohamed@gmail.com</span></p></li>
            <li><p><i class="icon-phone"></i> رقم الجوال: <span>012258663</span></p></li>
            <li><p><i class="icon-facebook"></i> حساب الفيس بوك: <span><a>http://facebook.com</a></span></p></li>
            <li><p> <i class="icon-linkedin"></i> حساب لينكد: <span><a>http://linked.com</a></span></p></li>
            <li><p><i class="icon-linkedin"></i> حساب الفيس بوك: <span><a>http://facebook.com</a></span></p></li>
            <!-- <li><div class="alert alert-info" role="alert">Observations: Don't forget the copy of identification number.</div></li> -->
        </ul>


    </div>
</div>
<!--Item-->