@media (max-width:790px) {
.btn_list  {
  margin-right: 18px;
    width: 21%;
}
.sub_cntent
    {
          width: calc(75% - 51px);  
    }
    .title_font
    {
          margin-right: 9px;
    }
    .contents p
    {
        margin-right: 19px;
    }
}