body, h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cairo', sans-serif;
}


.validation-summary-errors {
    color: #f5707a;
    background-color: #fde7e9;
    border-color: #fab8bd;
    position: relative;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}


.ripple {
    background: rgba(255,255,255,0.8);
    position: fixed;
    z-index: 999999;
    width: 83vw;
    max-width:100%;
   /*margin-right: 17%;*/
    height: 100vh;
    padding: 25% 50%;
}
