

@{
    ViewBag.Title = "الاسئلة الشائعة";
}


@section BannerSlider{

<div class=" contact text-center" data-enllax-ratio="-.3" style="background: url(~/assets/images/inner-banners/img-06.jpg) 50% 0% no-repeat fixed;">
    <div class="container">
        <div class="inner-heading">
            <h2 style="color: #fff;padding-top: 45px; padding-bottom: 45px;">@ViewBag.Title</h2>
        </div>
    </div>
</div>


    }



    <!-- Contact -->
    <section class="contact-holder gray-bg tc-padding-bottom">
        <div class="container">
            <div class="row">

                <!-- Content -->
                <div class="col-sm-8 MTOP">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        <img src="~/assets/images/question.png" style="width: 29px;">
                                        السؤال الاول
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    غينيا واستمر العصبة ضرب قد. وباءت الأمريكي الأوربيين هو به،, هو العالم، الثقيلة بال. مع وايرلندا الأوروبيّون كان, قد بحق أسابيع العظمى واعتلاء. انه كل وإقامة المواد.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        <img src="~/assets/images/question.png" style="width: 29px;">
                                        السؤال الثاني ؟
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">غينيا واستمر العصبة ضرب قد. وباءت الأمريكي الأوربيين هو به،, هو العالم، الثقيلة بال. مع وايرلندا الأوروبيّون كان, قد بحق أسابيع العظمى واعتلاء. انه كل وإقامة المواد. </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        <img src="~/assets/images/question.png" style="width: 29px;">
                                        السؤال الثالث؟
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">غينيا واستمر العصبة ضرب قد. وباءت الأمريكي الأوربيين هو به،, هو العالم، الثقيلة بال. مع وايرلندا الأوروبيّون كان, قد بحق أسابيع العظمى واعتلاء. انه كل وإقامة المواد. </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <!-- Aside -->
                <aside class="col-sm-4">
                    <div class="address-figures tc-padding-top">
                        <img src="~/assets/images/faq.png">
                    </div>
                </aside>
                <!-- Aside -->

            </div>
        </div>
    </section>
    <!-- Contact -->









     


