@{
    ViewBag.Title = "من نحن";
    ViewData["nav-list-Active"] = "AboutUs";

}
	<!-- About Holder -->
<div class="sc-course-detail-page">
    <div class="banner-course-detail">
        <div class="banner-top">
            <div class="container">
                <div class="banner-top__text">
                    <h2 class="title-text">مرحبا بك في دروسي </h2>
                    <p class="title-text">منصة متخصصة في تقديم مساعدة الطلاب </p>
                    @*<button class="btn button-default" type="button">تسجيل الدخول</button>*@
                </div>
                <div class="banner-top__video">
                    <video class="video" id="video" loop muted poster="assets/img/55.jpg" width="830" height="488">
                        <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&amp;profile_id=119&amp;oauth2_token_id=57447761"
                                type="video/mp4">
                    </video>
                    <button class="btn btn-play btn--cirlcle-bg-white">
                        <span class="flaticon-arrows-6 icon-custom icon-video-banner"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="banner-bottom__text-group">
                            <div class="banner-bottom__text-group__item">
                                <h4 class="title-text">لماذا لا يتعلم أبناؤك بطريقة حديثة وفعالة تضمن لهم التفوق؟ </h4>
                                <p class="content-text">
                                    الآن يستطيع أبناؤك من خلال دروسي أن يتعلموا دروسهم بصورة إلكترونية ومن خلال معلمين أكفاء ذوي خبرات طويلة، حيث يقدم المعلومات
                                    بطريقة مختلفة وفعالة تضمن فهمها بصورة سلسة.
                                </p>
                            </div>
                            <div class="banner-bottom__text-group__item">
                                <h4 class="title-text">
                                    دروسي سيجعل التواصل مع المعلمين أكثر واقعية.
                                </h4>
                                <p class="content-text">
                                    وبطريقة تضمن لهم متابعة دروسهم وإجابة أسئلتهم بطريقة فورية، حيث توفر منصة دروسي الشرح المباشر بالصوت والصورة من قبل أفضل
                                    خبراء المواد والمعلمين وأدوات الفصول الافتراضية التي تمكن من الاستفادة القصوى من
                                    التواصل بين الطالب ومعلمه.
                                </p>
                            </div>
                            <div class="banner-bottom__text-group__item">
                                <h4 class="title-text">
                                    نقدم ثقافة جديدة للتعليم عن بعد تمكن أبناءنا من التعلم بصورة مستقلة
                                </h4>
                                <p class="content-text">
                                    مع تطور التكنولوجيا الحديثة وتقنيات الإنترنت، أصبح سهلا على الطلاب من خلال منصة دروسي أن يتعلموا ويتفاعلوا في الحصص المباشرة
                                    أون لاين، وأيضا في مشاهدتها أكثر من مرة بعد بثها.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="banner-bottom__table">
                            <div class="banner-bottom__table__cell">
                                <h4 class="text-main text-white-bold hd">مساعدة الطلاب في صفوف التعليم الأساسي </h4>
                                <p class="text-main text-white-content">جميع الصفوف الدراسية متوفرة لدينا بداية من الصف الرابع الابتدائي وحتى الصف الثالث الثانوي.</p>
                            </div>
                            <div class="banner-bottom__table__cell">
                                <h4 class="text-main text-white-bold hd">توفير المواد التعليمية</h4>
                                <p class="text-main text-white-content">جميع المواد التعليمية مناسبة لجميع الطلاب بمختلف طرق العرض المختلفة في التعلم. </p>
                            </div>  
                            <div class="banner-bottom__table__cell">
                                <h4 class="text-main text-white-bold hd"> توفير الفيديوهات والشرح المباشر من قبل المدرسين</h4>
                                <p class="text-main text-white-content">مما يجعل الطالب أكثر تفاعلا سواء في التعليم المتزامن أو غير المتزامن. </p>
                            </div>

                            <div class="banner-bottom__table__cell">
                                <h4 class="text-main text-white-bold hd"> بنك أسئلة </h4>
                                <p class="text-main text-white-content">نوفر بنك أسئلة يحتوي على العديد من الأسئلة المختلفة والمتنوعة التي يستطيع بها الطالب أو ولي الأمر قياس مستوى التحصيل أولا بأول. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










     


