

@{
    ViewBag.Title = "الاسئلة الشائعة";
}

<style type="text/css">
    .inner-banner.contact-3 {
        padding: 50px 0;
    }

        .inner-banner.contact-3 h2 {
            color: #fff;
        }

    .section_title {
        padding-top: 25px;
        color: #0092c1;
    }

    .line_text {
        line-height: 29px;
        font-size: 16px;
    }
</style>



@section BannerSlider{

<div class="inner-banner contact-3 text-center" data-enllax-ratio="-.3" style="background: url(~/assets/images/inner-banners/img-06.jpg) 50% 0% no-repeat fixed;">
    <div class="container">
        <div class="inner-heading">
            <h2>سياسة الخصوصية</h2>
        </div>
    </div>
</div>

    }


<div class="sc-contact-page">

    <!--  -->
    <section class="breadcrumbs2 overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>الشروط والاحكام</h2>
                    <ul class="bread-list">
                        <li>
                            <a href="index.html">
                                الرئيسية
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href=""> / الشروط و الاحكام</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--  -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section_title">سياسة الخصوصية</h1>
                <h4 class="line_text">مما لا شك فيه أن مخاوفكم واهتمامكم بخصوصية بياناتكم على شبكة الإنترنت ـ محط اهتمامنا وجُل غايتنا؛ لذلك فقد قمنا بإعداد هذه السياسة لمساعدتكم فى تفهُّم طبيعة البيانات التى نقوم بتجميعها منكم عند زيارة موقعنا الإلكترونى، وكيفية التعامل مع هذه البيانات الشخصية.</h4>
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>

            <br><br>

            <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
                <img src="assets/img/priv_1.png" alt="" class="ImagePrivacy">
            </div><!--end col-xs-12 -->
            <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                <br><br>
                <h1 class="policy_title" style="color: #ee642f">التصفح</h1>
                <h4 class="line_text">هذا الموقع غير مصمم لتجميع بياناتك الشخصية من على الكمبيوتر لديك أثناء التصفح، بل إنه يستخدم البيانات التى تقدمها أنت بمعرفتك ومحض إرادتك.</h4>
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-7 col-sm-8 col-xs-12">
                <br><br>
                <h1 class="policy_title" style="color: #da44e2;">عنوان بروتوكول شبكة الإنترنت (IP)</h1>
                <h4 class="line_text">عندما تقوم بزيارة أى موقع على الإنترنت ـ بما فى ذلك هذا الموقع ـ يقوم الخادم المضيف بتسجيل عنوان بروتوكول شبكة الإنترنت (IP) الخاص بك، وتاريخ ووقت الزيارة، ونوع المتصفح الذى تستخدمه وعنوان URL الخاص بأى موقع من مواقع الإنترنت التى تقوم بتحويلك إلى هذا الموقع على الشبكة.</h4>
            </div><!--end col-xs-12 -->
            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
                <img src="assets/img/priv_2.png" alt="" class="ImagePrivacy">
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>
            <br>

            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <img src="assets/img/priv_3.png" alt="" class="ImagePrivacy">
            </div><!--end col-xs-12 -->
            <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                <br><br><br><br>
                <h1 class="policy_title" style="color: #008d8b;">التعليقات واستطلاعات الرأي</h1>
                <h4 class="line_text">إن استطلاعات الرأى التى نقوم بها تمكننا من تجميع بيانات ومعلومات محددة؛ مثل رأيك فيما يعجبك على موقعنا، وردود الأفعال هذه ذات أهمية بالغة ومحل تقدير من جانبنا؛ لأنها تمكننا من إظهار الموقع بالصورة التى تفضلها، ولك مطلق الحرية فى اختيار تقديم البيانات الشخصية الخاصة بك أو لا.</h4>
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-7 col-sm-8 col-xs-12">
                <br><br>
                <h1 class="policy_title " style="    color: #009cd1;">الروابط بالمواقع الأخرى على شبكة الإنترنت</h1>
                <h4 class="line_text">قد يتضمن موقعنا روابط بمواقع أخرى على شبكة الإنترنت، أو إعلانات من مواقع أخرى؛ مثل Google AdSense ولسنا مسئولين عن أساليب تجميع البيانات من قِبل تلك المواقع. ويمكنك الاطلاع على سياسات السرية والمحتويات الخاصة بتلك المواقع. وقد نستعين بشركات إعلان لأطراف ثالثة لعرض الإعلانات عندما تزور موقعنا على الويب. ويحق لهذه الشركات استخدام معلومات حول زياراتك لهذا الموقع والمواقع الأخرى (باستثناء الاسم أو العنوان أو البريد الإلكترونى أو رقم الهاتف)؛ وذلك بهدف تقديم إعلانات حول البضائع والخِدْمات التى تهمك.</h4>
            </div><!--end col-xs-12 -->
            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
                <img src="assets/img/priv_4.png" alt="" class="ImagePrivacy">
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <img src="assets/img/priv_5.png" alt="" class="ImagePrivacy">
            </div><!--end col-xs-12 -->
            <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                <h1 class="policy_title" style="    color: #c1102d;">إفشاء المعلومات</h1>
                <h4 class="line_text">عندما تقوم بزيارة أى موقع على الإنترنت ـ بما فى ذلك هذا الموقع ـ يقوم الخادم المضيف بتسجيل عنوان بروتوكول شبكة الإنترنت (IP) الخاص بك، وتاريخ ووقت الزيارة، ونوع المتصفح الذى تستخدمه، وعنوان URL الخاص بأى موقع من مواقع الإنترنت التى تقوم بتحويلك إلى هذا الموقع على الشبكة.</h4>
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-7 col-sm-8 col-xs-12">
                <br><br>
                <h1 class="policy_title" style="    color: #00517a;">البيانات اللازمة لتنفيذ المعاملات المطلوبة من قبلك</h1>
                <h4 class="line_text">دائمًا ما نحافظ على خصوصية وسرية كافة البيانات الشخصية التى نحصل عليها، ولن يتم إفشاء هذه المعلومات إلا إذا كان ذلك مطلوبًا بموجب أى قانون، أو عندما نعتقد ـ بحسن نية ـ أن مثل هذا الإجراء سيكون مطلوبًا أو مرغوبًا فيه لتطبيق قانون أو للدفاع عن أو حماية حقوق الملكية الخاصة بهذا الموقع أو الجهات المستفيدة منه.</h4>
            </div><!--end col-xs-12 -->
            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
                <img src="assets/img/priv_6.png" alt="" class="ImagePrivacy">
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <img src="assets/img/priv_7.png" alt="" class="ImagePrivacy">
            </div><!--end col-xs-12 -->
            <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                <h1 class="policy_title" style="color: #7d530e;">عند الاتصال بنا</h1>
                <h4 class="line_text">تتطلب النماذج التى يتم تقديمها مباشرةً على الشبكة تقديم البيانات التى ستساعدنا فى تحسين موقعنا. وسيتم التعامل مع كافة البيانات المقدمة من قِبلك على أساس أنها سرية، كما سيتم استخدام تلك البيانات فى الرد على كافة استفساراتك وملاحظاتك وطلباتك من هذا الموقع أو أيٍّ من المواقع التابعة له.</h4>
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>
            <br>

            <div class="col-md-7 col-sm-8 col-xs-12">
                <br><br><br><br><br>
                <h1 class="policy_title" style="    color: #cbc631;">إفشاء المعلومات لأى طرف ثالث</h1>
                <h4 class="line_text">لن نقوم ببيع أو تأجير أو متاجرة أو إفشاء لأية معلومات لمصلحة أى طرف ثالث خارج هذا الموقع أو المواقع التابعة له، وسيتم الكشف عن المعلومات فقط فى حالة صدور أمر بذلك من قِبل أى سلطة قضائية أو تنظيمية</h4>
            </div><!--end col-xs-12 -->
            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
                <img src="assets/img/priv_8.png" alt="" class="ImagePrivacy">
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <img src="assets/img/priv_9.png" alt="" class="ImagePrivacy">
            </div><!--end col-xs-12 -->
            <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                <br><br><br>
                <h1 class="policy_title" style="color: #0fb89b;">التعديلات على سياسة سرية وخصوصية المعلومات</h1>
                <h4 class="line_text">نحتفظ بحق تعديل بنود وشروط سياسة سرية وخصوصية المعلومات إذا لزم الأمر ومتى كان ذلك ملائمًا. سيتم تطبيق التعديلات على صفحة سياسة الخصوصية الرئيسية.</h4>
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-7 col-sm-8 col-xs-12">
                <br><br>
                <h1 class="policy_title" style="color: #ff7144;">الاتصال بنا</h1>
                <h4 class="line_text">نحن فى خدمتكم فى أى وقت، ويمكنكم الاتصال بنا من خلال معلومات الاتصال المتوفرة فى صفحة "اتصل بنا"، أو الإرسال إلى بريدنا الإلكترونى.</h4>
            </div><!--end col-xs-12 -->
            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
                <img src="assets/img/priv_10.png" alt="" class="ImagePrivacy">
            </div><!--end col-xs-12 -->
            <div class="clearfix"></div>
            <br><br>
            <h1 class="policy_title" style="color: #2fee3f;"> أخيرًا..</h1>
            <h4 class="line_text">إن كل ما نقوم به من تجميع للبيانات واستطلاعات للرأى وتسجيل لملاحظاتكم وتعليقاتكم يأتى فى إطار سعينا الدءوب والحثيث إلى تطوير وتحسين ما نقدمه لكم من خِدْمات ومنتجات، وأن خصوصية بياناتكم وسريتها هى الأساس الأسمى لثقتكم بنا.</h4>
            <br><br>

        </div>

    </div>
</div>






     


